services:
  runner:
    build:
      context: .
      args:
        RUBY_VERSION: ${RUBY_VERSION:-2.3.1}
        BUNDLER_VERSION: ${BUNDLER_VERSION:-}
    volumes:
      - type: bind
        source: .
        target: /app
      - ./docker/ruby-${RUBY_VERSION}/Gemfile.lock:/app/Gemfile.lock
