name: Tests

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

permissions: {}

jobs:
  test:
    name: Run tests on Ruby ${{ matrix.RUBY_VERSION }}
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        RUBY_VERSION: [2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 3.3, 3.4]
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Install Ruby
        uses: ruby/setup-ruby@d697be2f83c6234b20877c3b5eac7a7f342f0d0c # v1.269.0
        with:
          ruby-version: ${{ matrix.RUBY_VERSION }}

      - name: Bundle install
        run: bundle install

      - name: Rubocop
        run: bundle exec rake rubocop

      - name: Rspec
        run: bundle exec rspec
